.testimonials {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.testimonials h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.testimonials p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #666;
}

.testimonials-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
    border: 2px solid #28a745; /* Optional: border color if needed */
}

.testimonial-item:hover {
    transform: translateY(-10px);
}

.testimonial-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.testimonial-name {
    font-size: 1.1em;
    color: #007bff; /* Changed to #007bff */
    font-weight: bold;
}
